mixin menu(data)
  .menu
    .menu__mobile.jsMenuTrigger
      i.fa.fa-bars
    .menu__list.jsMenuList
      for page in pages
        if (page.active == true)
          .menu__item._active
            span #{page.title}
        else
          .menu__item
            a(href=page.slug) #{page.title}