mixin map(data)
  .map
    .title контакты
    .map-info
      .map-info__address Дархан Бизнес-комплекс, проспект Мустакиллик 88а, 100000 Ташкент
      a(href="#" title="").map-info__email info@ozone.uz
      a(href="#" title="").map-info__phone +998 (71) 140 70 07
      a(href="#" title="").map-info__phone +998 (91) 164 04 40
    .map-bg