.facilities {
  padding-bottom: 50px;
  &__wrapper {
    display: flex;

    padding-right: 100px;
    padding-left: 100px;

    @extend .wrapper;
    justify-content: space-between;
    align-items: flex-start;
    @media screen and (max-width: 800px) {
      padding-right: 30px;
      padding-left: 30px;
    }
    @media screen and (max-width: 750px) {
      flex-wrap: wrap;
    }
  }
}

.facilities-item {
  width: 28%;

  text-align: center;
  @media screen and (max-width: 800px) {
    width: 31%;
  }
  @media screen and (max-width: 660px) {
    width: 100%;
    margin-bottom: 40px;
  }
  &__icon {
    position: relative;

    height: 100px;
    margin-bottom: 25px;
    &:before {
      display: block;

      content: "";

      @include absolute-center;
    }
    &._phytobar {
      &:before {
        @include bg($phytobar);
      }
    }
    &._towel {
      &:before {
        @include bg($towel);
      }
    }
    &._wi-fi {
      &:before {
        @include bg($wi-fi);
      }
    }
  }
  &__title {
    margin-bottom: 12px;

    color: #36373a;

    font-family: $GothamPro-Light;
    font-size: 24px;
  }
  &__content {
    color: #777;

    font-family: $PTSans-Regular;
    font-size: 14px;
    line-height: 22px;
  }
}
