mixin facilities(data)
  .facilities
    .title услуги и удобства
    .facilities__wrapper
      .facilities-item
        .facilities-item__icon._phytobar
        .facilities-item__title фит-о-бар
        .facilities-item__content "OZone Fitness Centre" расположен в Darhan Business Centre, в самом сердце Ташкента в престижном Мирзо-Улугбекском районе: уникальное пересечение между

      .facilities-item
        .facilities-item__icon._towel
        .facilities-item__title полотенца
        .facilities-item__content "OZone Fitness Centre" расположен в Darhan Business Centre, в самом сердце Ташкента в престижном Мирзо-Улугбекском районе: уникальное пересечение между

      .facilities-item
        .facilities-item__icon._wi-fi
        .facilities-item__title wi-fi
        .facilities-item__content "OZone Fitness Centre" расположен в Darhan Business Centre, в самом сердце Ташкента в престижном Мирзо-Улугбекском районе: уникальное пересечение между