doctype html
html(class="no-js", lang="ru")

  include ../components/head/head
  include ../components/header/header
  include ../components/menu/menu
  include ../components/change-language/change-language
  include ../components/slider/slider
  include ../components/parallax/parallax
  include ../components/atmosphere-select/atmosphere-select
  include ../components/member-me/member-me
  include ../components/instagram/instagram
  include ../components/partners/partners
  include ../components/about-content/about-content
  include ../components/footer/footer

  head
    +head(head.defaults)
  body
    block header
      +header
    block content
      h1 hello
    block footer
      +footer()
      //- Main scripts. You can replace it, but I recommend you to leave it here
      script(src='%=static=%js/main%=hash=%%=min=%.js')
