extends ./_layout.jade

block content
  +slider(data, main)
  +parallax(data, 0)
  +atmosphere-select(data)
  +parallax(data, 1)
  .title Галерея
  +slider(data, gallery)._gallery
  +member-me
  +instagram
  +partners