mixin member-me(data)
  .member-me
    .title member me
    .member-me__wrapper
      .member-me__left
        img(src="%=static=%images/assets/member-me/computers.jpg" alt="member me")
      .member-me__right
        .member-me-content
          h2.member-me-content__title Ваш собственный фирменный маркетинг приложение
          .member-me-content__text
            p Участник дает современный домашний экран приложение показывая свой индивидуальный бренд. Вы можете легко обновлять макет, цвета, изображения и содержание, чтобы отразить текущие события объекта, новости, акции и многое другое. 
          a(href="#" title="").button._small Подробнее