.about-content {
  padding-bottom: 90px;
  &__wrapper {
    display: flex;

    @extend .wrapper;
    justify-content: space-between;
    align-items: flex-start;
    @media screen and (max-width: 1024px) {
      padding-right: 60px;
      padding-left: 60px;
    }
    @media screen and (max-width: 740px) {
      padding-right: 30px;
      padding-left: 30px;
    }
  }
}

.about-content-columns {
  column-width: 31.6%;
  column-count: 3;
  column-gap: 30px;
  p {
    margin-top: 0;
  }
  @media screen and (max-width: 820px) {
    column-width: 48%;
    column-count: 2;
  }
  @media screen and (max-width: 740px) {
    column-count: 1;
    column-width: 100%;
  }
}
