@include font-face(PTSans-Regular, "../fonts/PTSans-Regular");
$PTSans-Regular: 'PTSans-Regular', Helvetica, Arial, sans-serif;

@include font-face(GothamPro-Bold, "../fonts/GothamPro-Bold");
$GothamPro-Bold: 'GothamPro-Bold', Helvetica, Arial, sans-serif;

@include font-face(GothamPro-Light, "../fonts/GothamPro-Light");
$GothamPro-Light: 'GothamPro-Light', Helvetica, Arial, sans-serif;

@include font-face(GothamPro-Medium, "../fonts/GothamPro-Medium");
$GothamPro-Medium: 'GothamPro-Medium', Helvetica, Arial, sans-serif;