// File for scss-vars.
// For example: main colors, paddings and so on.
// global colors
$white: #fff;
$black: #000;
$gray: #37383b;
$light-gray: #868687;
$green: #abd039;

// glogal transition
$transition-time: .2s;