mixin clubs(data)
  .clubs
    .clubs-list
      .clubs-item
        .clubs-block-img
          a(href="#" title="").clubs-block-img__button.button._big._white OZoneFC
          .clubs-block-img__img
            img(src="%=static=%images/assets/clubs/ozone-fc-1.jpg" alt="")
        .clubs-info
          .clubs-info__title.title OZoneFC
          .clubs-info__content
            p "OZone Fitness Centre" расположен в Darhan Business Centre, в самом сердце Ташкента в престижном Мирзо-Улугбекском районе: уникальное пересечение между финансовым/ коммерческим и жилым секторами города. <br>С новейшим оборудованием от п роизводителей JW-Sport and TRX, мы стремимся предложить самое высокое качество обслуживания в этой деятельности. Мы отличаемся тем, что предлагаем нашим посетителям индивидуальные подходы в тренировках и питании, а также необыкновенную атмосферу для восстановления сил в нашем Фит-O-баре.
          .clubs-info__subtitle 
            p В зале есть:
          .clubs-info__links
            a(href="#" title="") GYM
            a(href="#" title="") MIND & BODY
            a(href="#" title="") PERSONAL TRAINING
            a(href="#" title="") MASSAGE
            a(href="#" title="") COMBAT
            a(href="#" title="") NUTRITIONist
      .clubs-item
        .clubs-block-img
          a(href="#" title="").clubs-block-img__button.button._big._white OZoneFC
            sup 2
          .clubs-block-img__img
            img(src="%=static=%images/assets/clubs/ozone-fc-2.jpg" alt="")

        .clubs-info
          .clubs-info__title.title OZoneFC
            sup 2
          .clubs-info__content
            p С новейшим оборудованием от п роизводителей JW-Sport and TRX, мы стремимся предложить самое высокое качество обслуживания в этой деятельности. Мы отличаемся тем, что предлагаем нашим посетителям индивидуальные подходы <br>в тренировках и питании, а также необыкновенную атмосферу для восстановления сил в нашем Фит-O-баре. Наши профессиональные личные тренеры будут инструктировать вас, используя наиболее современные подходы в тренировках, на ряду с традиционными групповыми занятиями по йоге.
          .clubs-info__subtitle 
            p В зале есть:
          .clubs-info__links
            a(href="#" title="") PERSONAL TRAINING
            a(href="#" title="") COMBAT
            a(href="#" title="") NUTRITIONist