.subscriptions {
  position: relative;
  z-index: 2;

  padding-bottom: 50px;
  &__wrapper {
    @extend .wrapper;
    @media screen and (min-width: 760px) and (max-width: 1024px) {
      padding-right: 30px;
      padding-left: 30px;
    }
  }
}

.subscriptions-list {
  @media screen and (min-width: 760px) {
    display: flex;

    width: 100%;

    justify-content: space-between;
    align-items: center;
    .slick-list {
      overflow: visible;
    }
  }
}

.subscriptions-list-item {
  position: relative;

  box-sizing: border-box;
  width: 270px;
  height: 340px;
  margin: auto;

  transition: all .2s ease-in-out;
  text-align: center;

  font-family: $GothamPro-Light;
  @media screen and (max-width: 1024px) {
    width: 230px;
  }
  @media screen and (min-width: 760px) and (max-width: 800px) {
    width: 170px;
  }
  @media screen and (max-width: 420px) {
    width: 90%;
  }
  &:focus {
    outline: none;
  }
  &:hover {
    .subscriptions-list-item__content {
      position: absolute;
      top: 0;

      width: 100%;
      padding-bottom: 50px;

      box-shadow: inset 0 0 0 10px $green;

      @include horizontal-center;
    }
    .subscriptions-list-item-table {
      &__item {
        &._hide {
          position: relative;

          visibility: visible;

          opacity: 1;
        }
      }
    }
  }
  &._platinum {
    background-color: #b3b3b3;
    .subscriptions-list-item__content {
      background-color: #b3b3b3;
    }
  }
  &._gold {
    height: 400px;

    background-color: #e5ba15;
    .subscriptions-list-item__content {
      padding-top: 57px;

      background-color: #e5ba15;
    }
  }
  &._silver {
    background-color: #6d6e71;
    .subscriptions-list-item__content {
      background-color: #6d6e71;
    }
  }
  &._bronze {
    background-color: #c97e41;
    .subscriptions-list-item__content {
      background-color: #c97e41;
    }
  }
  &__content {
    padding-top: 27px;
  }
  &__title {
    color: $white;

    font-size: 36px;
    @media screen and (min-width: 760px) and (max-width: 800px) {
      font-size: 24px;
    }
  }
}

.subscriptions-list-item-table {
  margin-top: 125px;
  &__item {
    margin-bottom: 20px;

    color: $white;

    font-size: 18px;
    @media screen and (min-width: 760px) and (max-width: 800px) {
      font-size: 16px;
    }
    &._bold {
      margin-top: 25px;

      font-family: $GothamPro-Medium;
    }
    &._hide {
      position: absolute;
      bottom: -400%;

      visibility: hidden;

      transition: all .4s ease-in-out;

      opacity: 0;
    }
  }
}

// hook

.jsSubscriptions-slide {
  .subscriptions-list-item {
    @media screen and (max-width: 740px) {
      margin-top: 30px;
    }
    &._gold {
      @media screen and (max-width: 740px) {
        margin-top: 0;
      }
    }
  }
  &:focus {
    outline: none;
  }
}
