mixin subscriptions(data)
  .subscriptions
    .title абонементы
    .subscriptions__wrapper
      .subscriptions-list.jsSubscriptions
        .jsSubscriptions-slide
          .subscriptions-list-item._platinum
            .subscriptions-list-item__title PLATINUM
            .subscriptions-list-item-table
              .subscriptions-list-item-table__item Без ограничений
              .subscriptions-list-item-table__item Отчет Tanita
              .subscriptions-list-item-table__item отчет диетолога
              .subscriptions-list-item-table__item._bold UZS - 450.000

        .jsSubscriptions-slide
          .subscriptions-list-item._gold
            .subscriptions-list-item__title GOLD
            .subscriptions-list-item-table
              .subscriptions-list-item-table__item Без ограничений
              .subscriptions-list-item-table__item -
              .subscriptions-list-item-table__item -
              .subscriptions-list-item-table__item._bold UZS - 350.000

        .jsSubscriptions-slide
          .subscriptions-list-item._silver
            .subscriptions-list-item__title SILVER
            .subscriptions-list-item-table
              .subscriptions-list-item-table__item 07:00 – 16:30
              .subscriptions-list-item-table__item -
              .subscriptions-list-item-table__item -
              .subscriptions-list-item-table__item._bold UZS - 300.000

        .jsSubscriptions-slide
          .subscriptions-list-item._bronze
            .subscriptions-list-item__title BRONZE
            .subscriptions-list-item-table
              .subscriptions-list-item-table__item 12:00 – 16:30
              .subscriptions-list-item-table__item -
              .subscriptions-list-item-table__item -
              .subscriptions-list-item-table__item._bold UZS - 250.000