mixin your-app(data)
  .your-app
    .title member me

    .your-app__wrapper
      .your-app__left
        img(src="%=static=%images/assets/your-app/computers.png" alt="")
      .your-app-content
        .your-app-content__title Ваше собственное фирменное <br> маркетинговое приложение
        .your-app-content__text 
          p Участник дает современный домашний экран приложение показывая свой индивидуальный бренд. Вы можете легко обновлять макет, цвета, изображения и содержание, чтобы отразить текущие события объекта, новости, акции и многое другое. 

          .your-app-content__buttons
            a(href="#" title="")
              img(src="%=static=%images/assets/your-app/google-play.png" alt="")
            a(href="#" title="")
              img(src="%=static=%images/assets/your-app/appstore.png" alt="")