.form {
  &__field {
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    padding-bottom: 3px;
    padding-left: 15px;

    color: #777;
    border: 1px solid #afafb0;

    font-family: $PTSans-Regular;
    font-size: 18px;
    &:focus {
      outline: none;
    }
    &._textarea {
      height: 385px;
      padding-top: 10px;
    }
  }
  &__submit {
    .button {
      float: right;
    }
  }
}
