.logo {
  position: absolute;
  top: 0;
  left: 0;

  display: block;

  width: 115px;
  height: 164px;

  background-color: $gray;
  a {
    display: block;

    text-indent: -9999px;

    @include bg($logo);
    @include absolute-center;
  }
}

.header {
  position: relative;

  display: flex;

  box-sizing: border-box;
  width: 100%;
  height: 70px;
  padding-right: 30px;
  padding-left: 115px;

  background-color: $gray;

  justify-content: space-between;
  align-items: center;
}
