.change-language {
  border-bottom: 2px solid transparent;
  &__item {
    display: inline;

    color: $light-gray;

    font-family: $GothamPro-Light;
    font-size: 20px;
    @media screen and (max-width: 820px) {
      font-size: 16px;
    }
    @media screen and (max-width: 740px) {
      font-size: 20px;
    }
    &:hover {
      @media screen and (min-width: 1200px) {
        color: $white;
      }
    }
    &:first-child {
      margin-right: 8px;
    }
    &._active {
      color: $green;
      &:hover {
        @media screen and (min-width: 1200px) {
          cursor: default;
        }
      }
    }
  }
}
