mixin about-club(data)
  .about-club
    .title о клубе
    .about-club__content
      p 
        strong "OZone Fitness Centre" 
        | расположен в Darhan Business Centre, в самом сердце Ташкента в престижном Мирзо-Улугбекском районе: уникальное пересечение между финансовым/ коммерческим и жилым секторами города.  С новейшим оборудованием от производителей JW-Sport and TRX, мы стремимся предложить самое высокое качество обслуживания в этой деятельности. Мы отличаемся тем, что предлагаем нашим посетителям индивидуальные подходы в тренировках и питании, а также необыкновенную атмосферу для восстановления сил в нашем Фит-O-баре.