@import "slick-global/slick.scss";
@import "slick-global/slick-theme.scss";

.slider {
  @media screen and (max-width: 740px) {
    max-height: 400px;
  }
  @media screen and (max-width: 420px) {
    max-height: 550px;
  }
  &._gallery {
    background-color: $gray;
    .slider-img {
      opacity: .5;
    }
    .slider-item-content {
      &__caption {
        max-width: 670px;
        margin-right: auto;
        margin-left: auto;

        font-size: 24px;
        line-height: 36px;
      }
    }
  }
  &._small-content {
    .slider-item-content {
      &__caption {
        max-width: 670px;
        margin-right: auto;
        margin-left: auto;

        font-size: 24px;
        line-height: 36px;
      }
    }
  }
  &._trainers {
    .slider-item {
      .button {
        bottom: 90px;

        @include horizontal-center;
      }
    }
  }
  &._services, &._trainers {
    max-height: 420px;
    .slider-img {
      max-height: 420px;
    }
  }
}

.slider-item {
  position: relative;
}

.slider-item-image {
  text-align: center;

  @include absolute-center;
  img {
    margin: 0 auto 15px;
  }
  &__title {
    color: $white;

    font-family: $GothamPro-Light;
    font-size: 30px;
  }
}

.slider-img {
  z-index: 0;

  height: 630px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @media screen and (max-width: 740px) {
    height: 400px;
  }
  @media screen and (max-width: 420px) {
    height: 550px;
  }
}

.slider-item-content {
  z-index: 1;

  width: 75%;

  text-align: center;

  @include absolute-center;
  @media screen and (max-width: 740px) {
    width: 90%;
  }
  &__caption {
    margin-bottom: 50px;

    color: $white;

    font-family: $GothamPro-Light;
    font-size: 48px;
    line-height: 60px;
    @media screen and (max-width: 740px) {
      font-size: 23px;
      line-height: 29px;
    }
    @media screen and (max-width: 420px) {
      font-size: 23px;
      line-height: 29px;
    }
  }
}
